dist: trusty
sudo: required
language: java
jdk:
- oraclejdk8
branches:
  except:
  - "/\\+travis\\d+$/"
env:
  global:
  - secure: CP6cqf5VWp5lE5p/DwV9EM4TfSH+BcZY2sl/4/HN3HIot/SMpe/5QGgssAx5NgXhAWlgYzLhUdZVg0kGpn0H4xQnXvzeV7jMPPQ/RLTfpw+lMStXMMcoZaxd371fPFHga9bY/GfAy4EnKa0TCGVgPTZhCUnGPs96VL1YMaljgTj622IiA1YCVfmCzGANLOmVhSP0CVCrjtYK2XPgQttj5/4E+FVQ2UctQaUaNJyofGuLMCpYjY/cX6x82D2TWf2WQr/ttUlHjX9V58GjlmOAZJz/34XNWurtkfS7afMsYhcSx5Z++RIFUIkweg42Jnm2lDPFgVQplT5eU2lUXpr6tRHHIMfYyEI/MD+VZ0Q90PhWMcRYwygYy9BDbtcHsTKKWubOHukfmu7K/OMDn+ZuxpXnBWH6kZEneLre4b5sTNBD3Rv5x4TU5QZIQRi7uOCM7lRm3obOuovarAMyQWHpnzp5eXaO0k7OaK0tpZtU0e88Mi85qMM92wOnTIr2r6NtDCudk1slSffgZaFWWxt0f7PZ+rpLSUbX8/s4PMIlp+YF3CZ6tlY8FY3xku1I8oyP7mKjTz8bJ2nms1Fw6o2TAEfdqMiQZoMHSL6SBN2r1SfYdCYEVWU54pW+9hzTbFrqb9Zqk3RYh/WvYjhv/ljTjfNdG1EBYMri8elMkkuYc6Y=
  - secure: KrR84eAlX+DGy7T76wMVPyth+5FhlQjMshNDjeFsYZVhnFjWFQ0Zc8cB/DplvaNlsLy/QnUerVDJ/XcbO9fYNs3XJpmEOysXYh/891ug8kLJiMfGuPrPWLqbiYrFpoXlxixiriVHU4CC3rUblzljc3B/WgbxO5BYbMxtRPxOyzeOKoVzYhjVh4YXdRvGEJHbAB44aAW6rXClppIZx/IjJ/bbs3OqtNhucsCdj5FzJq64Lq4ZlbmLy+VwwmD31OhtMnCfXieE2GVLDwTUai8U7JXYKnIAlpm2ntr3X3uSV5HleZNmtCNN5SmPNNKZREiNb3UklYV8apuIuwNAcTnxDPSfsdDyrzkVz05hXmFXOUJYOf/T+jt2/KeEw1UvxC7b58bUl5FqgZjeOL79K6sNVQaCMuTY7NLzfi+RD+35aH8vrQdEPVmg5skWAvibp6Hp/kXCXZv7wpN16ctMJ1UytOQfNG/wCEkPDvZm8XsLXMb1pE5ecnadJW6mxA2++j82lc89hBODbRoTf0OT1O+oIU5bfMdk8NKZIxWtUJNfnSkFlp1IDUL3PDU4yJtL03zNyiETS0qHhhOLWZhWI49cGbDo4u6PeMOLp+v2nxuLqMkoUd7M8zAfDnHNNCC/B90x5W4Q3RMhmrZMVkSZBHMdFHJS7ODDnln9ZWQbrwFckvs=
  - secure: s8dXR0YZytyuGhmoM8GY4FWsfXzzg5KJK1+JU6+2xKgLC5ZeD5jKV4pbxC1OdFtX67SJlAPmsXGPbqj967WEWMTv4F1tc0xqtmzm8V/lGVNfNc9orhGbOffvFfFh5cfIE+E0Rz0WoSZNrnInC5GKPnLgd+7vr17/AbBcdX73pKT48L3NpHfw0gtz7bg6yoh3phFcxCutKGSIBX1eelX7JYW1y8ZsMxM/u4WwrWKmgjjFI3kA+/XjdnvIilN99UjEwocGVRZZCEqn0/ss+wHuGdZuqzUP2kDCr2qo2CKHOPDiz3mdWHlDYE69IyaJ+9IzzvfFIItV/50qaHAhDuFlaU0ACBXZaOji0RlFP3muk96Soxn0ewdOITSI8A4X1JoGsi2EVdDX58eEWgqUitDsEGNzAnu2swsMd16O8SSMg4fcjvui+E/wm9+sQAZJLMOMvYvGrAU56sn4akUChq0Lr4s5+20nSsIy8kcfPHht1DEYt9JI1aFC1ssDWp+ELJGoKD0SuRW71YCJ6q/k280CmP91HzXS2tevk6t+IoTVlac72yjqlQq2nkYZpq42drq5Ojkzj29FBt6UV8ZXWfUBCrTrbcrEhUiobUafGfv2oejwXDJHYP72GYcIeOK8DsK/MZKrnq7PabrnHfAYjFPU7zbtBOCnNbW8ZwBXwCHibAM=
  - secure: NtK6HCGtkVzJymOVffRTmjfTn3cMrobvOKx6OIUajIqSZVB/ijsKPgEeIB4HxKhuP12aTTO3DT1Cnp284AdrMM4qttuAUOJLBulBAw1dpygkN9tM01KXPZq78+Hv1eEg5PMBcRljfi5usOexc1cLaDw1uIz4wPnbA3IPlUQYtcQQfYdtxShdcH4l2npXUWuRYR0UnMZzGyRSPClnEjAkRVlHJmw6fL222ASGZLHvvjwFTiUCRWXFKZdehj+Ww6TzatAqhmzOWAXsfVrh5Y4QXe1lLHCjLB9F48R44+5DZCEWebXjF+s2dIm2DnFDmS/qqvCCaYSV1BrsLOn4CQqliBvN+9WrK/IWY9JGyq40cCQXDMjVOqWECY2hxXR+MNxaWw7n032QRX4Boho4u4r+5Xv4J6Ih3zDEUI/mvafaaeRjQq1HE3KIEiXeZKeQAib8nUugDGI2JslgM5/WR9n8rIdKd+fvATrfHWet5LCcF0Ajdl/hZR31jg3sSlvvTQSrGPtzH39R2z85gjmGcjUsmdmEvHgjXAFN1tZZr0sVbD0r+2Di/X0rJxZ4s1Rf7x09j7wQCA6jnyQC9401xyviz2aPJvDVAo1vMTSpPCgSHn87x6cNxfYOJjBZv1lAJloPMHZvYpHwiLKq4X19eKOv2cf5S0US0F+gXj84Kfe7nI0=
install: true
script: bash src/main/scripts/travis-build.bash
notifications:
  email: false
  webhooks:
    on_success: always
    on_failure: always
    on_start: always
    urls:
    - https://webhook.atomist.com/travis
cache:
  directories:
  - "$HOME/.m2"
before_deploy:
- nvm install 6.9.2
deploy:
  provider: releases
  api_key:
    secure: deidUzd/Dlvw9O1FtEDK5hDO6gkE35aEnCQpNLHjSsvZ11rrBe12XFRBp3Vh2w+YrjeiewYgZYgyqc+0U1NFkk5dE/CwrCnoUf2NJ2qrJlELFtaMb/hVck70Egp/ZM51tjG9nSFNv5D/0mFe+5IjNp5wMYMJklK3JSnEKllum8m7XI9CnIRJgaHcSII1Z9tLEyuIr7v0iL8kZWiM0STsRuR4Mnxi6cvUpyzoEIiYpHSUnRwZDd0FWDP3Onyn9DjgFBEmVDPEnzQuNNJwWpyjNr7ZLn1M0RVGju5LtpQKoi6lwqqkNjX4argnN7C6nmZLyhOD/LdB2MBX2Muh17A3ioU7Zem10K5EJXK9X4ymLa+wBBgEYTfe/9bEd6OyDcX3yQZozt8XAoJ4DxUSMN5jlFw9usj3habvKkfxnMvR6Gu+zz2Z948zQYuAfOf5U6Ers1dbD+KB8j4D6J/3RPdrkzm1GKGJ9IbkqWqgHMge9pS67bqLHA3dzb0TLAi5vjKsj3EXxL27fsu1uQkok/KKlyyBfHEHp02AmuaqORyfjQyRElcFGtNJK/SLDuLRcb6TsDHN5LWQrY8+uyjymJXOt7lVDw9JZXqMP+BvG/KH+ASqifrBNirRYZyLHC6ItqNe4RnHmlGcHvagztbHsiFjfOXIJX4eUzAX7hS5cEnsdPM=
  on:
    tags: true
    condition: "$TRAVIS_TAG =~ ^[0-9]+\\.[0-9]+\\.[0-9]+$"
after_deploy:
- bash src/main/scripts/npm-publish.bash $TRAVIS_TAG rug
- bash src/main/scripts/npm-publish.bash $TRAVIS_TAG cortex
- bash src/main/scripts/npm-publish.bash $TRAVIS_TAG native
- bash src/main/scripts/gh-publish.bash $TRAVIS_REPO_SLUG
