<html>
      <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title id="title">
          com/atomist/project/common/template/ArtifactSourceBackedMustacheResolver.scala.html
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/css/theme.default.min.css" type="text/css"/><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/js/jquery.tablesorter.min.js"></script><link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css"/><script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script><script type="text/javascript">
        $(document).ready(function() {$(".tablesorter").tablesorter();});
      </script>
        <style>
          table.codegrid { font-family: monospace; font-size: 12px; width: auto!important; }table.statementlist { width: auto!important; font-size: 13px; } table.codegrid td { padding: 0!important; border: 0!important } table td.linenumber { width: 40px!important; } 
        </style>
      </head>
      <body style="font-family: monospace;">
        <ul class="nav nav-tabs">
          <li>
            <a href="#codegrid" data-toggle="tab">Codegrid</a>
          </li>
          <li>
            <a href="#statementlist" data-toggle="tab">Statement List</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="codegrid">
            <pre style='font-size: 12pt; font-family: courier;'>1 <span style=''>package com.atomist.project.common.template
</span>2 <span style=''>
</span>3 <span style=''>import java.io.{Reader, StringReader}
</span>4 <span style=''>
</span>5 <span style=''>import com.atomist.source.ArtifactSource
</span>6 <span style=''>import com.github.mustachejava.resolver.DefaultResolver
</span>7 <span style=''>import com.typesafe.scalalogging.LazyLogging
</span>8 <span style=''>
</span>9 <span style=''>class ArtifactSourceBackedMustacheResolver(artifactSource: ArtifactSource)
</span>10 <span style=''>  extends DefaultResolver
</span>11 <span style=''>    with LazyLogging{
</span>12 <span style=''>
</span>13 <span style=''>  override def getReader(resourceName: String): Reader = {
</span>14 <span style=''>    logger.debug(s&quot;Need to return Reader for $resourceName&quot;)
</span>15 <span style=''>    </span><span style='background: #AEF1AE'>artifactSource.findFile(resourceName)</span><span style=''> match {
</span>16 <span style=''>      case Some(f) =&gt; </span><span style='background: #F0ADAD'>new StringReader(f.content)</span><span style=''>
</span>17 <span style=''>      case _ =&gt; </span><span style='background: #AEF1AE'>new StringReader(resourceName)</span><span style=''>
</span>18 <span style=''>    }
</span>19 <span style=''>  }
</span>20 <span style=''>}
</span></pre>
          </div>
          <div class="tab-pane" id="statementlist">
            <table cellspacing="0" cellpadding="0" class="table statementlist">
      <tr>
        <th>Line</th>
        <th>Stmt Id</th>
        <th>Pos</th>
        <th>Tree</th>
        <th>Symbol</th>
        <th>Code</th>
      </tr><tr>
        <td>
          15
        </td>
        <td>
          517
        </td>
        <td>
          475
          -
          512
        </td>
        <td>
          Apply
        </td>
        <td>
          com.atomist.source.ArtifactContainer.findFile
        </td>
        <td style="background: #AEF1AE">
          ArtifactSourceBackedMustacheResolver.this.artifactSource.findFile(resourceName)
        </td>
      </tr><tr>
        <td>
          16
        </td>
        <td>
          519
        </td>
        <td>
          543
          -
          570
        </td>
        <td>
          Apply
        </td>
        <td>
          java.io.StringReader.&lt;init&gt;
        </td>
        <td style="background: #F0ADAD">
          new java.io.StringReader(f.content)
        </td>
      </tr><tr>
        <td>
          16
        </td>
        <td>
          518
        </td>
        <td>
          560
          -
          569
        </td>
        <td>
          Select
        </td>
        <td>
          com.atomist.source.FileArtifact.content
        </td>
        <td style="background: #F0ADAD">
          f.content
        </td>
      </tr><tr>
        <td>
          17
        </td>
        <td>
          520
        </td>
        <td>
          587
          -
          617
        </td>
        <td>
          Apply
        </td>
        <td>
          java.io.StringReader.&lt;init&gt;
        </td>
        <td style="background: #AEF1AE">
          new java.io.StringReader(resourceName)
        </td>
      </tr>
    </table>
          </div>
        </div>
      </body>
    </html>