<html>
      <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title id="title">
          com/atomist/project/common/template/mergeToolCreator.scala.html
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/css/theme.default.min.css" type="text/css"/><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/js/jquery.tablesorter.min.js"></script><link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css"/><script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script><script type="text/javascript">
        $(document).ready(function() {$(".tablesorter").tablesorter();});
      </script>
        <style>
          table.codegrid { font-family: monospace; font-size: 12px; width: auto!important; }table.statementlist { width: auto!important; font-size: 13px; } table.codegrid td { padding: 0!important; border: 0!important } table td.linenumber { width: 40px!important; } 
        </style>
      </head>
      <body style="font-family: monospace;">
        <ul class="nav nav-tabs">
          <li>
            <a href="#codegrid" data-toggle="tab">Codegrid</a>
          </li>
          <li>
            <a href="#statementlist" data-toggle="tab">Statement List</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="codegrid">
            <pre style='font-size: 12pt; font-family: courier;'>1 <span style=''>package com.atomist.project.common.template
</span>2 <span style=''>
</span>3 <span style=''>import com.atomist.source.ArtifactSource
</span>4 <span style=''>
</span>5 <span style=''>trait MergeToolCreator {
</span>6 <span style=''>
</span>7 <span style=''>  def createMergeTool(templateContent: ArtifactSource): MergeTool
</span>8 <span style=''>}
</span>9 <span style=''>
</span>10 <span style=''>class CombinedMergeToolCreator(
</span>11 <span style=''>                                creators: MergeToolCreator*
</span>12 <span style=''>                              ) extends MergeToolCreator {
</span>13 <span style=''>
</span>14 <span style=''>  override def createMergeTool(templateContent: ArtifactSource): MergeTool = {
</span>15 <span style=''>    </span><span style='background: #AEF1AE'>new CombinedMergeTool(creators.map(_.createMergeTool(templateContent)))</span><span style=''>
</span>16 <span style=''>  }
</span>17 <span style=''>}
</span></pre>
          </div>
          <div class="tab-pane" id="statementlist">
            <table cellspacing="0" cellpadding="0" class="table statementlist">
      <tr>
        <th>Line</th>
        <th>Stmt Id</th>
        <th>Pos</th>
        <th>Tree</th>
        <th>Symbol</th>
        <th>Code</th>
      </tr><tr>
        <td>
          15
        </td>
        <td>
          588
        </td>
        <td>
          451
          -
          451
        </td>
        <td>
          TypeApply
        </td>
        <td>
          scala.collection.Seq.canBuildFrom
        </td>
        <td style="background: #AEF1AE">
          collection.this.Seq.canBuildFrom[com.atomist.project.common.template.MergeTool]
        </td>
      </tr><tr>
        <td>
          15
        </td>
        <td>
          590
        </td>
        <td>
          417
          -
          488
        </td>
        <td>
          Apply
        </td>
        <td>
          com.atomist.project.common.template.CombinedMergeTool.&lt;init&gt;
        </td>
        <td style="background: #AEF1AE">
          new CombinedMergeTool(CombinedMergeToolCreator.this.creators.map[com.atomist.project.common.template.MergeTool, Seq[com.atomist.project.common.template.MergeTool]](((x$1: com.atomist.project.common.template.MergeToolCreator) =&gt; x$1.createMergeTool(templateContent)))(collection.this.Seq.canBuildFrom[com.atomist.project.common.template.MergeTool]))
        </td>
      </tr><tr>
        <td>
          15
        </td>
        <td>
          587
        </td>
        <td>
          452
          -
          486
        </td>
        <td>
          Apply
        </td>
        <td>
          com.atomist.project.common.template.MergeToolCreator.createMergeTool
        </td>
        <td style="background: #AEF1AE">
          x$1.createMergeTool(templateContent)
        </td>
      </tr><tr>
        <td>
          15
        </td>
        <td>
          589
        </td>
        <td>
          439
          -
          487
        </td>
        <td>
          ApplyToImplicitArgs
        </td>
        <td>
          scala.collection.TraversableLike.map
        </td>
        <td style="background: #AEF1AE">
          CombinedMergeToolCreator.this.creators.map[com.atomist.project.common.template.MergeTool, Seq[com.atomist.project.common.template.MergeTool]](((x$1: com.atomist.project.common.template.MergeToolCreator) =&gt; x$1.createMergeTool(templateContent)))(collection.this.Seq.canBuildFrom[com.atomist.project.common.template.MergeTool])
        </td>
      </tr>
    </table>
          </div>
        </div>
      </body>
    </html>