<html>
      <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title id="title">
          com/atomist/project/common/template/MergeTool.scala.html
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/css/theme.default.min.css" type="text/css"/><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.20.1/js/jquery.tablesorter.min.js"></script><link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css"/><script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script><script type="text/javascript">
        $(document).ready(function() {$(".tablesorter").tablesorter();});
      </script>
        <style>
          table.codegrid { font-family: monospace; font-size: 12px; width: auto!important; }table.statementlist { width: auto!important; font-size: 13px; } table.codegrid td { padding: 0!important; border: 0!important } table td.linenumber { width: 40px!important; } 
        </style>
      </head>
      <body style="font-family: monospace;">
        <ul class="nav nav-tabs">
          <li>
            <a href="#codegrid" data-toggle="tab">Codegrid</a>
          </li>
          <li>
            <a href="#statementlist" data-toggle="tab">Statement List</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="codegrid">
            <pre style='font-size: 12pt; font-family: courier;'>1 <span style=''>package com.atomist.project.common.template
</span>2 <span style=''>
</span>3 <span style=''>import java.util.{Map =&gt; JMap}
</span>4 <span style=''>
</span>5 <span style=''>import com.atomist.param.ParameterValues
</span>6 <span style=''>import com.atomist.source.{ArtifactSource, FileArtifact, SimpleFileEditor}
</span>7 <span style=''>import com.atomist.util.BinaryDecider
</span>8 <span style=''>
</span>9 <span style=''>import scala.collection.JavaConverters._
</span>10 <span style=''>
</span>11 <span style=''>/**
</span>12 <span style=''>  * Simple abstraction for a template engine.
</span>13 <span style=''>  */
</span>14 <span style=''>trait MergeTool {
</span>15 <span style=''>
</span>16 <span style=''>  def isTemplate(f: FileArtifact): Boolean = </span><span style='background: #AEF1AE'>isTemplate(f.path)</span><span style=''>
</span>17 <span style=''>
</span>18 <span style=''>  def isTemplate(path: String): Boolean
</span>19 <span style=''>
</span>20 <span style=''>  /**
</span>21 <span style=''>    * Merge the given file, including working out a new file name if it contains template syntax.
</span>22 <span style=''>    *
</span>23 <span style=''>    * @param context Merge context
</span>24 <span style=''>    * @param templatePath path within the backing ArtifactSource or
</span>25 <span style=''>    * other source of templates
</span>26 <span style=''>    * @return new file, which may have a different name
</span>27 <span style=''>    */
</span>28 <span style=''>  def mergeToFile(context: MergeContext, templatePath: String): FileArtifact
</span>29 <span style=''>
</span>30 <span style=''>  /**
</span>31 <span style=''>    * Process the given files, including handling as templates and renaming if necessary.
</span>32 <span style=''>    *
</span>33 <span style=''>    * @param context Merge context
</span>34 <span style=''>    * @param in files to process
</span>35 <span style=''>    * @return output files
</span>36 <span style=''>    */
</span>37 <span style=''>  def processTemplateFiles(context: MergeContext, in: Seq[FileArtifact]): Seq[FileArtifact] =
</span>38 <span style=''>    </span><span style='background: #AEF1AE'>in.map(f =&gt; mergeFile(context, f))</span><span style=''>
</span>39 <span style=''>
</span>40 <span style=''>  private def mergeFile(context: MergeContext, f: FileArtifact) = f match {
</span>41 <span style=''>    case `f` if </span><span style='background: #AEF1AE'>isTemplate(f)</span><span style=''> =&gt;
</span>42 <span style=''>      </span><span style='background: #AEF1AE'>mergeToFile(context, f.path)</span><span style=''>
</span>43 <span style=''>    case `f` =&gt; f
</span>44 <span style=''>  }
</span>45 <span style=''>
</span>46 <span style=''>  /**
</span>47 <span style=''>    * Process the given ArtifactSource containing template and static content.
</span>48 <span style=''>    *
</span>49 <span style=''>    * @param context merge context
</span>50 <span style=''>    * @param in ArtifactSource we're processing
</span>51 <span style=''>    * @return output ArtifactSource
</span>52 <span style=''>    */
</span>53 <span style=''>  def processTemplateFiles(context: MergeContext, in: ArtifactSource): ArtifactSource =
</span>54 <span style=''>    </span><span style='background: #AEF1AE'>in ✎ SimpleFileEditor(f =&gt; !BinaryDecider.isBinaryContent(f.content), f =&gt; mergeFile(context, f))</span><span style=''>
</span>55 <span style=''>
</span>56 <span style=''>  /**
</span>57 <span style=''>    * Merge the given template string.
</span>58 <span style=''>    *
</span>59 <span style=''>    * @param context merge context
</span>60 <span style=''>    * @param templateString string that is itself a template
</span>61 <span style=''>    * @return output string
</span>62 <span style=''>    */
</span>63 <span style=''>  def mergeString(context: MergeContext, templateString: String): String
</span>64 <span style=''>}
</span>65 <span style=''>
</span>66 <span style=''>case class MergeContext(map: Map[String, Any]) {
</span>67 <span style=''>
</span>68 <span style=''>  def this(m: JMap[String, Object]) = </span><span style='background: #F0ADAD'>this(m.asScala.toMap)</span><span style=''>
</span>69 <span style=''>
</span>70 <span style=''>  def this(pd: ParameterValues) =
</span>71 <span style=''>    </span><span style='background: #F0ADAD'>this(pd.parameterValues.map(pv =&gt; (pv.getName, pv.getValue)).toMap)</span><span style=''>
</span>72 <span style=''>}
</span></pre>
          </div>
          <div class="tab-pane" id="statementlist">
            <table cellspacing="0" cellpadding="0" class="table statementlist">
      <tr>
        <th>Line</th>
        <th>Stmt Id</th>
        <th>Pos</th>
        <th>Tree</th>
        <th>Symbol</th>
        <th>Code</th>
      </tr><tr>
        <td>
          16
        </td>
        <td>
          528
        </td>
        <td>
          404
          -
          410
        </td>
        <td>
          Select
        </td>
        <td>
          com.atomist.source.FileArtifact.path
        </td>
        <td style="background: #AEF1AE">
          f.path
        </td>
      </tr><tr>
        <td>
          16
        </td>
        <td>
          529
        </td>
        <td>
          393
          -
          411
        </td>
        <td>
          Apply
        </td>
        <td>
          com.atomist.project.common.template.MergeTool.isTemplate
        </td>
        <td style="background: #AEF1AE">
          MergeTool.this.isTemplate(f.path)
        </td>
      </tr><tr>
        <td>
          38
        </td>
        <td>
          532
        </td>
        <td>
          1142
          -
          1176
        </td>
        <td>
          ApplyToImplicitArgs
        </td>
        <td>
          scala.collection.TraversableLike.map
        </td>
        <td style="background: #AEF1AE">
          in.map[com.atomist.source.FileArtifact, Seq[com.atomist.source.FileArtifact]](((f: com.atomist.source.FileArtifact) =&gt; MergeTool.this.mergeFile(context, f)))(collection.this.Seq.canBuildFrom[com.atomist.source.FileArtifact])
        </td>
      </tr><tr>
        <td>
          38
        </td>
        <td>
          531
        </td>
        <td>
          1148
          -
          1148
        </td>
        <td>
          TypeApply
        </td>
        <td>
          scala.collection.Seq.canBuildFrom
        </td>
        <td style="background: #AEF1AE">
          collection.this.Seq.canBuildFrom[com.atomist.source.FileArtifact]
        </td>
      </tr><tr>
        <td>
          38
        </td>
        <td>
          530
        </td>
        <td>
          1154
          -
          1175
        </td>
        <td>
          Apply
        </td>
        <td>
          com.atomist.project.common.template.MergeTool.mergeFile
        </td>
        <td style="background: #AEF1AE">
          MergeTool.this.mergeFile(context, f)
        </td>
      </tr><tr>
        <td>
          41
        </td>
        <td>
          533
        </td>
        <td>
          1270
          -
          1283
        </td>
        <td>
          Apply
        </td>
        <td>
          com.atomist.project.common.template.MergeTool.isTemplate
        </td>
        <td style="background: #AEF1AE">
          MergeTool.this.isTemplate(f)
        </td>
      </tr><tr>
        <td>
          42
        </td>
        <td>
          534
        </td>
        <td>
          1314
          -
          1320
        </td>
        <td>
          Select
        </td>
        <td>
          com.atomist.source.FileArtifact.path
        </td>
        <td style="background: #AEF1AE">
          f.path
        </td>
      </tr><tr>
        <td>
          42
        </td>
        <td>
          535
        </td>
        <td>
          1293
          -
          1321
        </td>
        <td>
          Apply
        </td>
        <td>
          com.atomist.project.common.template.MergeTool.mergeToFile
        </td>
        <td style="background: #AEF1AE">
          MergeTool.this.mergeToFile(context, f.path)
        </td>
      </tr><tr>
        <td>
          54
        </td>
        <td>
          540
        </td>
        <td>
          1654
          -
          1751
        </td>
        <td>
          Apply
        </td>
        <td>
          com.atomist.source.ArtifactSource.✎
        </td>
        <td style="background: #AEF1AE">
          in.✎(com.atomist.source.SimpleFileEditor.apply(((f: com.atomist.source.FileArtifact) =&gt; com.atomist.util.BinaryDecider.isBinaryContent(f.content).unary_!), ((f: com.atomist.source.FileArtifact) =&gt; MergeTool.this.mergeFile(context, f))))
        </td>
      </tr><tr>
        <td>
          54
        </td>
        <td>
          537
        </td>
        <td>
          1681
          -
          1722
        </td>
        <td>
          Select
        </td>
        <td>
          scala.Boolean.unary_!
        </td>
        <td style="background: #AEF1AE">
          com.atomist.util.BinaryDecider.isBinaryContent(f.content).unary_!
        </td>
      </tr><tr>
        <td>
          54
        </td>
        <td>
          539
        </td>
        <td>
          1659
          -
          1751
        </td>
        <td>
          Apply
        </td>
        <td>
          com.atomist.source.SimpleFileEditor.apply
        </td>
        <td style="background: #AEF1AE">
          com.atomist.source.SimpleFileEditor.apply(((f: com.atomist.source.FileArtifact) =&gt; com.atomist.util.BinaryDecider.isBinaryContent(f.content).unary_!), ((f: com.atomist.source.FileArtifact) =&gt; MergeTool.this.mergeFile(context, f)))
        </td>
      </tr><tr>
        <td>
          54
        </td>
        <td>
          536
        </td>
        <td>
          1712
          -
          1721
        </td>
        <td>
          Select
        </td>
        <td>
          com.atomist.source.FileArtifact.content
        </td>
        <td style="background: #AEF1AE">
          f.content
        </td>
      </tr><tr>
        <td>
          54
        </td>
        <td>
          538
        </td>
        <td>
          1729
          -
          1750
        </td>
        <td>
          Apply
        </td>
        <td>
          com.atomist.project.common.template.MergeTool.mergeFile
        </td>
        <td style="background: #AEF1AE">
          MergeTool.this.mergeFile(context, f)
        </td>
      </tr><tr>
        <td>
          68
        </td>
        <td>
          541
        </td>
        <td>
          2114
          -
          2114
        </td>
        <td>
          TypeApply
        </td>
        <td>
          scala.Predef.$conforms
        </td>
        <td style="background: #F0ADAD">
          scala.this.Predef.$conforms[(String, Object)]
        </td>
      </tr><tr>
        <td>
          68
        </td>
        <td>
          543
        </td>
        <td>
          2099
          -
          2120
        </td>
        <td>
          Apply
        </td>
        <td>
          com.atomist.project.common.template.MergeContext.&lt;init&gt;
        </td>
        <td style="background: #F0ADAD">
          MergeContext.this.&lt;init&gt;(scala.collection.JavaConverters.mapAsScalaMapConverter[String, Object](m).asScala.toMap[String, Object](scala.this.Predef.$conforms[(String, Object)]))
        </td>
      </tr><tr>
        <td>
          68
        </td>
        <td>
          542
        </td>
        <td>
          2104
          -
          2119
        </td>
        <td>
          ApplyToImplicitArgs
        </td>
        <td>
          scala.collection.TraversableOnce.toMap
        </td>
        <td style="background: #F0ADAD">
          scala.collection.JavaConverters.mapAsScalaMapConverter[String, Object](m).asScala.toMap[String, Object](scala.this.Predef.$conforms[(String, Object)])
        </td>
      </tr><tr>
        <td>
          68
        </td>
        <td>
          544
        </td>
        <td>
          2099
          -
          2099
        </td>
        <td>
          Literal
        </td>
        <td>
          &lt;nosymbol&gt;
        </td>
        <td style="background: #F0ADAD">
          ()
        </td>
      </tr><tr>
        <td>
          71
        </td>
        <td>
          550
        </td>
        <td>
          2165
          -
          2226
        </td>
        <td>
          ApplyToImplicitArgs
        </td>
        <td>
          scala.collection.TraversableOnce.toMap
        </td>
        <td style="background: #F0ADAD">
          pd.parameterValues.map[(String, AnyRef), Seq[(String, AnyRef)]](((pv: com.atomist.param.ParameterValue) =&gt; scala.Tuple2.apply[String, AnyRef](pv.getName, pv.getValue)))(collection.this.Seq.canBuildFrom[(String, AnyRef)]).toMap[String, AnyRef](scala.this.Predef.$conforms[(String, AnyRef)])
        </td>
      </tr><tr>
        <td>
          71
        </td>
        <td>
          549
        </td>
        <td>
          2221
          -
          2221
        </td>
        <td>
          TypeApply
        </td>
        <td>
          scala.Predef.$conforms
        </td>
        <td style="background: #F0ADAD">
          scala.this.Predef.$conforms[(String, AnyRef)]
        </td>
      </tr><tr>
        <td>
          71
        </td>
        <td>
          552
        </td>
        <td>
          2160
          -
          2160
        </td>
        <td>
          Literal
        </td>
        <td>
          &lt;nosymbol&gt;
        </td>
        <td style="background: #F0ADAD">
          ()
        </td>
      </tr><tr>
        <td>
          71
        </td>
        <td>
          546
        </td>
        <td>
          2207
          -
          2218
        </td>
        <td>
          Select
        </td>
        <td>
          com.atomist.param.ParameterValue.getValue
        </td>
        <td style="background: #F0ADAD">
          pv.getValue
        </td>
      </tr><tr>
        <td>
          71
        </td>
        <td>
          548
        </td>
        <td>
          2187
          -
          2187
        </td>
        <td>
          TypeApply
        </td>
        <td>
          scala.collection.Seq.canBuildFrom
        </td>
        <td style="background: #F0ADAD">
          collection.this.Seq.canBuildFrom[(String, AnyRef)]
        </td>
      </tr><tr>
        <td>
          71
        </td>
        <td>
          551
        </td>
        <td>
          2160
          -
          2227
        </td>
        <td>
          Apply
        </td>
        <td>
          com.atomist.project.common.template.MergeContext.&lt;init&gt;
        </td>
        <td style="background: #F0ADAD">
          MergeContext.this.&lt;init&gt;(pd.parameterValues.map[(String, AnyRef), Seq[(String, AnyRef)]](((pv: com.atomist.param.ParameterValue) =&gt; scala.Tuple2.apply[String, AnyRef](pv.getName, pv.getValue)))(collection.this.Seq.canBuildFrom[(String, AnyRef)]).toMap[String, AnyRef](scala.this.Predef.$conforms[(String, AnyRef)]))
        </td>
      </tr><tr>
        <td>
          71
        </td>
        <td>
          545
        </td>
        <td>
          2195
          -
          2205
        </td>
        <td>
          Select
        </td>
        <td>
          com.atomist.param.ParameterValue.getName
        </td>
        <td style="background: #F0ADAD">
          pv.getName
        </td>
      </tr><tr>
        <td>
          71
        </td>
        <td>
          547
        </td>
        <td>
          2194
          -
          2219
        </td>
        <td>
          Apply
        </td>
        <td>
          scala.Tuple2.apply
        </td>
        <td style="background: #F0ADAD">
          scala.Tuple2.apply[String, AnyRef](pv.getName, pv.getValue)
        </td>
      </tr>
    </table>
          </div>
        </div>
      </body>
    </html>