# Rug Standard Types

#foreach( $kind in $kinds )
$h2 Type: `${kind.name}`

**${kind.description}**

$h3 `${kind.name}` Operations

#foreach ( $op in $kind.operations )
$h4 Operation: `${op.name}`

${op.description}

$h5 `${op.name}` Parameters

#if ($op.size() > 0)
| Name        | Type           | Description  |
| ------------|:---------------|:-------------|
#foreach ( $p in $op.parameters )
| ***${p.name}*** | `${p.parameterType}` | *${p.description}* |
#end
#else
*None*
#end
#end
#end
