
// TypeScript

#foreach($kind in $kinds )
//${kind.description()}
class ${kind.name()} {

#foreach ($op in $kind.typeInformation().operationsAsJava())

//${op.description()}
${op.name()}#if ($op.parametersAsJava().size() > 0)
#foreach ($p in $op.parametersAsJava())
| ${p.name()}:${p.parameterType().getSimpleName()}
#end
#else
()
#end

#end

}

#end
